@model BP.WebUI.Models.BrowseViewModel

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm())
        {
            <div>@Html.Hidden("Id", Model.Filter.Id)</div>
            Html.RenderPartial("_UserSkillsPartial", Model.Filter);
            <button class="btn btn-primary" name="browse" type="submit">@Resources.Resource.ButtonSubmit</button>
            <button class="btn btn-primary" name="save" type="submit">Save</button>
        }
    </div>
    <div class="col-md-9">
        @foreach (var user in Model.Users)
        {
            <div class="container well">
                <div style="height: 20vh; width: 30%; float: left;">
                    <img src="@Url.Action("GetPhoto", new { id = user.Id })" alt="" class="img-rounded" style="max-height: 100%; max-width: 100%; margin: 0 auto;" />
                </div>
                <h4>@Html.ActionLink(user.Name ?? user.Id.ToString(), "Index", new { id = user.Id })</h4>
            </div>
        }
    </div>
</div>