
@{
    ViewBag.Title = Resources.Resource.RegistrationSuccess;
}

<h2>@Resources.Resource.RegistrationSuccess</h2>
<h3>@Resources.Resource.NowYouCan @Html.ActionLink(Resources.Resource.ButtonSignIn, "Login", "Account")</h3>

